Protocol 2
Port 22
UseDNS no
PermitRootLogin no
X11Forwarding no
AllowTcpForwarding no
PasswordAuthentication no
PubkeyAuthentication yes
Subsystem sftp internal-sftp
ForceCommand internal-sftp
ChrootDirectory %h
HostKey /etc/ssh/host_keys/ssh_host_rsa_key
HostKey /etc/ssh/host_keys/ssh_host_dsa_key
HostKey /etc/ssh/host_keys/ssh_host_ecdsa_key
HostKey /etc/ssh/host_keys/ssh_host_ed25519_key
